# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Notebook
.ipynb_checkpoints/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Reports
reports/*.csv
